<div class="new-period">
	<header class="header-section flex align-center justify-between mb-md">
		<h1 class="font-weight-semi-bold fs-xxl">Nuevo periodo</h1>
	</header>

	<div class="new-period__group">
		<a class="new-period__group__item block" routerLink="/intranet/math-reservation">
			<div class="new-period__group__item__content">
				<span class="new-period__group__item__title fs-xl font-weight-semi-bold text-center block">
					Rentas Vitalicias
				</span>
				<!--<span class="new-period__group__item__percentage block text-center my-xs mx-auto font-weight-semi-bold">
					0 %
				</span>-->
				<table class="new-period__group__item__table">
					<tbody>
						<tr>
							<td>Etapa actual</td>
							<td>: Reporte (Foto del mes)</td>
						</tr>
						<tr>
							<td>Fecha de inicio</td>
							<td>: 06/08/2025 5:15</td>
						</tr>
						<tr>
							<td>Fecha fin</td>
							<td>: -</td>
						</tr>
					</tbody>
				</table>
			</div>
		</a>
		<a class="new-period__group__item new-period__group__item--disabled block" routerLink="/intranet/math-reservation">
			<div class="new-period__group__item__content">
				<span class="new-period__group__item__title fs-xl font-weight-semi-bold text-center block">
					Renta total
				</span>
				<!--<span class="new-period__group__item__percentage block text-center my-xs mx-auto font-weight-semi-bold">
					0 %
				</span>-->
				<table class="new-period__group__item__table">
					<tbody>
						<tr>
							<td>Etapa actual</td>
							<td>: -</td>
						</tr>
						<tr>
							<td>Fecha de inicio</td>
							<td>: -</td>
						</tr>
						<tr>
							<td>Fecha fin</td>
							<td>: -</td>
						</tr>
					</tbody>
				</table>
			</div>
		</a>
		<a class="new-period__group__item new-period__group__item--disabled block" routerLink="/intranet/math-reservation">
			<div class="new-period__group__item__content">
				<span class="new-period__group__item__title fs-xl font-weight-semi-bold text-center block">
					Ahorro total
				</span>
				<!--<span class="new-period__group__item__percentage block text-center my-xs mx-auto font-weight-semi-bold">
					0 %
				</span>-->
				<table class="new-period__group__item__table">
					<tbody>
						<tr>
							<td>Etapa actual</td>
							<td>: -</td>
						</tr>
						<tr>
							<td>Fecha de inicio</td>
							<td>: -</td>
						</tr>
						<tr>
							<td>Fecha fin</td>
							<td>: -</td>
						</tr>
					</tbody>
				</table>
			</div>
		</a>
	</div>
</div>
