<section class="premium-production-control">
	<span class="font-weight-semi-bold fs-xl mb-md block">Control de producción de primas - Julio 2025</span>

	@let data = premiumProductionControlStore.data();
	@let status = processStore.getStatus(BlockProcess.GenInfo, StageProcess.PremiumProductionControl);
	@let isStageCompleted = processStore.isStageCompleted(BlockProcess.GenInfo, StageProcess.PremiumProductionControl);

	@if (data && data.total) {
		<table class="mb-md">
			<tbody>
				<tr>
					<td class="font-weight-semi-bold">Estado</td>
					<td>
						:
						@if (isStageCompleted) {
							<p-tag severity="success"
							       value="Completado"></p-tag>
						} @else {
							<p-tag [severity]="status?.statusId === ProcessStatus.Completed ? 'success' :
														status?.statusId === ProcessStatus.Failed ? 'danger' :
														status?.statusId === ProcessStatus.Disrupted ? 'danger' : 'secondary'"
							       [value]="status?.label || 'Pendiente'"></p-tag>
						}
					</td>
				</tr>
				<tr>
					<td class="font-weight-semi-bold">Fecha de Estado</td>
					<td>: {{ status?.createdAt ? (status?.createdAt | date: "dd/MM/yyyy hh:mm:ss a") : "-" }}</td>
				</tr>
				<tr>
					<td class="font-weight-semi-bold">Fecha Cierre</td>
					<td>: {{ lastDayPeriod() }}</td>
				</tr>
			</tbody>
		</table>

		<p-table [value]="items()"
		         showGridlines
		         rowGroupMode="subheader"
		         groupRowsBy="label">
			<ng-template pTemplate="header">
				<tr>
					<th>Prestación</th>
					<th class="text-right">Prima emitida</th>
					<th class="text-right">Prima Contabilidad</th>
					<th class="text-right">Prima Diferencia</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item>
				<tr>
					<td>{{ item.description }}</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span> <span>{{ item.premiumIssued | number: "1.2-2" }}</span>
						</div>
					</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span> <span>{{ item.accountingPremium | number: "1.2-2" }}</span>
						</div>
					</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span>
							<span>
								{{ item.difference | number: "1.2-2" }}
							</span>
						</div>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="footer" let-item>
				<tr class="row-gray">
					<td>{{ data.total.description }}</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span>
							<span>
								{{ data.total.premiumIssued | number: "1.2-2" }}
							</span>
						</div>
					</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span>
							<span>
								{{ data.total.accountingPremium | number: "1.2-2" }}
							</span>
						</div>
					</td>
					<td>
						<div class="flex align-center justify-between">
							<span>S/</span>
							<span>
								{{ data.total.difference | number: "1.2-2" }}
							</span>
						</div>
					</td>
				</tr>
			</ng-template>
		</p-table>
		<div class="flex gap-md mt-md">
			<p-button severity="primary" label="Reprocesar" icon="bi bi-arrow-clockwise" (click)="reProcess()"/>
			<p-button class="button-excel" label="Exportar" icon="bi bi-file-excel"/>
			<p-button severity="primary" label="Continuar" icon="bi bi-arrow-right" iconPos="right"/>
		</div>
	}
</section>
