:root {
  --font-weight-base: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-xxs: 0.75rem; // 12px
  --font-size-xs: 0.815rem; // 13px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
}
