<main class="reservation">
	<header class="mb-xl">
		<h2 class="fs-xl font-weight-semi-bold mb-md">Proceso de Generación de Reservas Matemáticas</h2>
	</header>

	<p-tabs value="0" (valueChange)="tabChange($event)" scrollable>
		<p-tablist>
			<p-tab value="0">
				1. Generación de información
			</p-tab>
			<p-tab value="1">
				2. Generación de interfaces de reservas y cesión
			</p-tab>
			<p-tab value="2">
				3. Proceso de retroalimentación
			</p-tab>
			<p-tab value="3">
				4. Resultado de cierre
			</p-tab>
			<p-tab value="4">
				5. Registro y conciliación contable
			</p-tab>
			<p-tab value="5">
				6. Reportes post cierre
			</p-tab>
		</p-tablist>
	</p-tabs>

	<div class="reservation__content flex gap-md mt-md">
		<p-panelMenu [model]="menu()"></p-panelMenu>

		<div class="reservation__content__body">
			<router-outlet/>
		</div>
	</div>
</main>
