<section class="get-info">
	<p-tabs value="0" scrollable>
		<p-tablist>
			<p-tab value="0">
				1.1. Generación de reporte (Foto del mes)
				<i class="bi bi-check-circle-fill fs-md-lg ml-xs"></i>
			</p-tab>
			<p-tab value="1">
				1.2. Control de producción de primas
			</p-tab>
			<p-tab value="2">
				1.3. Reglas de validación
			</p-tab>
			<p-tab value="3">
				1.4. Control de cambio de datos
			</p-tab>
			<p-tab value="4">
				1.5. Control de pagos
			</p-tab>
			<p-tab value="5">
				1.6. Métricas adicionales
			</p-tab>
			<p-tab value="6">
				1.7. Generación de Reportes de validación
			</p-tab>
		</p-tablist>
		<p-tabpanels>
			<p-tabpanel value="0">
				<app-report-gen/>
			</p-tabpanel>
			<p-tabpanel value="1">
				<app-premium-production-control/>
			</p-tabpanel>
			<p-tabpanel value="2">
				<app-validation-rules/>
			</p-tabpanel>
			<p-tabpanel value="3">
				<app-data-change-control/>
			</p-tabpanel>
			<p-tabpanel value="4">
				<app-payment-control/>
			</p-tabpanel>
			<p-tabpanel value="5">
				<app-additional-metrics/>
			</p-tabpanel>
			<p-tabpanel value="6">
				<app-validation-report-gen/>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
</section>
