<div class="sign-in grid">
  <!--<div class="content-wrapper"></div>-->
  <div class="sign-in__bg">
    <img class="sign-in__bg__img w-100"
         ngSrc="/resources/protecta-edificio.png"
         width="1140"
         height="847"
         alt="edificio protecta">
  </div>
  <form class="sign-in__form flex flex-col justify-center gap-md px-xl py-xxl mx-auto w-100"
        pFocusTrap>
    <header class="sign-in__form__header flex flex-col gap-md align-center mb-xl">
      <img ngSrc="/resources/logo.png"
           width="260"
           height="54"
           alt="logo protecta">

      <h1 class="font-weight-semi-bold">Sistema de Reservas de Matemáticas</h1>
    </header>

    <div class="flex flex-col gap-xxs">
      <label class="fs-md"
             for="username">Ingrese su nombre de usuario (*)</label>
      <p-iconfield>
        <p-inputicon styleClass="bi bi-person"/>
        <input id="username"
               pInputText
               [fluid]="true"
               pSize="large"
               [pAutoFocus]="true">
      </p-iconfield>
    </div>
    <div class="flex flex-col gap-xxs">
      <label class="fs-md"
             for="password">Ingrese su contraseña (*)</label>
      <p-iconfield>
        <p-inputicon styleClass="bi bi-lock"/>
        <input type="password"
               id="password"
               pInputText
               [fluid]="true"
               pSize="large">
      </p-iconfield>
    </div>
    <p-button label="Iniciar sesión"
              [fluid]="true"
              size="large"/>
  </form>
</div>
