@mixin base {
  font-family: "Titillium Web", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-base);
  font-style: normal;
  line-height: 1.3;

  &:not(
    .p-message-text,
    .p-tag-icon,
    .p-tag-label
  ) {
    color: var(--black-color-base);
  }
}
